@font-face {
    font-family: 'supermario256';
    src: url('../fonts/supermario256-webfont.woff2') format('woff2'),
         url('../fonts/supermario256-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*.chat{
	width: 850px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-left: 625px;
	margin-top: 75px;
	position: absolute;
	opacity: .9;
	background-image: url(../images/chat.png);
	z-index: 2;

}*/

#start{
	width: 1100px;
	height: 550px;
	margin-left: 550px;
	margin-top: 150px;
	position: absolute;
	z-index: 2;
}

h1{
	font-family: supermario256;
	font-size: 90px;
	color: white;
	text-align: center;
	-webkit-text-stroke-width: 5px;
  	-webkit-text-stroke-color: black;
}

button{
	margin-top: 50px;
	margin-left: 40%;
	width:200px;
	height:75px;
	background-color: yellow;
	border-radius: 10px;
	color: black;
	stroke: black 1px;
	font-family: supermario256;
	font-size: 28px;
	border: 4px solid black;
}

button:hover{
	background-color: white;
}

.textbox{
	background-image: url(../images/chat.png);
	width: 850px;
	height: 550px;
	display:none;
	margin-left: 675px;
	margin-top: 100px;
	position: absolute;
	z-index: 3;
}

.questions{
	margin-left: 150px;
	margin-top: 200px;
	height: 34px;
	width: 550px;
	font-size: 34px;
	font-family: supermario256;
	line-height: 12px;
	display:none;
	text-align: center;
}


.forms{
	position: absolute;
	margin-top: 25px;
	margin-left: 100px;
	height:50px;
	width:700px;
}


#formq1, #formq2, #formq3, #formq4, #formq5, #formq6, #formq7, #formq8, #formq9, #formq10, #formq11, #formq12, #formq13, #formq14, #formq15, #formq16, #formq17, #formq18, #formq19, #formq20, #formq21, #formq22, #formq23, #formq24, #formq25, #formq26, #formq27, #formq28, #formq29, #formq30, #formq31, #formq32, #formq33, #formq34, #formq35, #formq36, #formq37, #formq38 {
	width: 605px;
	height: 100px;
	display: none;
}

.inputclass{
	margin-left: 100px;
	width: 425px;
	height: 50px;
	font-size: 34px;
	font-family: supermario256;
	text-align: center;
}

.inputProp{
	color: red;
}

#buttonInput1, #buttonInput2, #buttonInput3, #buttonInput4, #buttonInput5, #buttonInput6, #buttonInput7, #buttonInput8, #buttonInput9, #buttonInput10, #buttonInput11, #buttonInput12, #buttonInput13, #buttonInput14, #buttonInput15, #buttonInput16, #buttonInput17, #buttonInput18, #buttonInput19, #buttonInput20, #buttonInput21, #buttonInput22, #buttonInput23, #buttonInput24, #buttonInput25, #buttonInput26, #buttonInput27, #buttonInput28, #buttonInput29, #buttonInput30, #buttonInput31, #buttonInput32, #buttonInput33, #buttonInput34, #buttonInput35, #buttonInput36, #buttonInput37, #buttonInput38{
	margin-top: 50px;
	margin-left: 225px;
	width:200px;
	height:75px;
	background-color: yellow;
	border-radius: 10px;
	color: black;
	stroke: black 1px;
	font-family: supermario256;
	font-size: 28px;
	border: 4px solid black;
}

.container{
	margin-left: auto;
	margin-right: auto;
	width: 2200px;
	height: 1200px;
	background-image: url(../images/Super-Mario-Kart.jpg);
	display: block;
	overflow: hidden;
}

#chatEnd{
	background-image: url(../images/chatEnd.png);
	margin-left:500px;
	margin-top: 50px;
	width:1200px;
	height: 776px;
	position: absolute;
	display: hidden;
	z-index: 3;
}

.chatEnd{
	display:none;
}

#chatEnd p{
	font-family: supermario256;
	font-size: 18px;
	margin-top: 120px;
	margin-left: 100px;
	width: 1000px;
	height: 500px;
	letter-spacing: 2px;
}

.karts{
	display: block;
	width: 167px;
	height: 147px;
}

#mario{
	background-image: url(../images/Mario.png);
	position: relative;
	top: 825px;
	left: -10%;
	animation-name: drivemario;
	animation-duration: 8s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,.48,.8,.9);
	z-index: 1;
}


#luigi{
	background-image: url(../images/Luigi.png);
	position: relative;
	top: 800px;
	left: -10%;
	animation-name: drivemario;
	animation-duration: 11s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.1,.18,.28,.37);
	z-index: 6;
}


#dk{
	background-image: url(../images/DK.png);
	position: relative;
	top: 425px;
	left: -10%;
	animation-name: drivemario;
	animation-duration: 9s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.37,.27,.23,.28);
	z-index: 7;
}


#peach{
	background-image: url(../images/Peach.png);
	position: relative;
	top: 475px;
	left: -10%;
	animation-name: drivemario;
	animation-duration: 7s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1, 1, 1);
	z-index: 0;
}


#yoshi{
	background-image: url(../images/Yoshi.png);
	position: relative;
	top: 450px;
	left: -10%;
	animation-name: drivemario;
	animation-duration: 9s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	z-index: 5;
}

.cloud1{
	display: block;
	width: 350px;
	height: 161px;
	opacity: .8;
}

#cloud1{
	background-image: url(../images/Cloud1.png);
	position: relative;
	top: -700px;
	left: 100%;
	animation-name: clouds;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1, 1, 1);
	z-index: 1;
}

.cloud2{
	display: block;
	width: 250px;
	height: 173px;
	opacity: .8;
}

#cloud2{
	background-image: url(../images/Cloud2.png);
	position: relative;
	top: -775px;
	left: 100%;
	animation-name: clouds;
	animation-duration: 45s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1, 1, 1);
	z-index: 1;
}

#cloud4{
	background-image: url(../images/Cloud2.png);
	position: relative;
	top: -1025px;
	left: 100%;
	animation-name: clouds;
	animation-duration: 45s;
	animation-delay: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1, 1, 1);
	z-index: 1;
}

#cloud3{
	background-image: url(../images/Cloud1.png);
	position: relative;
	top: -950px;
	left: 100%;
	animation-name: clouds;
	animation-duration: 50s;
	animation-delay: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1, 1, 1);
	z-index: 1;
}

#cloud5{
	background-image: url(../images/Cloud1.png);
	position: relative;
	top: -1400px;
	left: 100%;
	animation-name: clouds;
	animation-duration: 45s;
	animation-delay: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,1, 1, 1);
	z-index: 1;
}

@keyframes drivemario{
	from{ transform: translateX(0px)}
	to{ transform: translateX(3000px)}
}

@keyframes clouds{
	from{ transform: translateX(100px)}
	to{ transform: translateX(-3000px)}
}